* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Courier, Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(img/landscape.jpg);
    background-size: auto;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;

}

.navbar .nav-links ul li{
    margin: 0 20px;
}

.navbar .nav-links ul li .first{
    color: red;
    font-weight: 600;
}

.navbar .menu-boutons{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    display: none;
}

.text1 {
    position: relative;
    color: rgb(255, 255, 255);
    top: 150px;
    left: 50px;
    border: solid ;
    background-color: rgba(75, 2, 32, 0.61);
    padding: 10px;
    border-radius: 10px;
    border: solid 0px;
    display: flex;
    width: fit-content;
}

.text2 {
    position: relative;
    color: rgb(255, 244, 244);
    top: 200px;
    left: 360px;
    border: solid ;
    background-color: rgba(75, 2, 32, 0.61);
    padding: 10px;
    border-radius: 10px;
    border: solid 0px;
    display: flex;
    width: fit-content; 
}

.bouton-entrer {
    position: relative;
    width: fit-content;
    top: 300px;
    color: white;
    display: flex;
    border: solid 1px;
    padding: 10px;
    left: 600px;
    font-size: 2em;
}

.navbar .searchbar {
    position: relative;
    right: 300px;
    border-radius: 20px;
    font-size: 1em;
    padding: 2px;
}


@media screen and (max-width: 900px) {
    .navbar {
    padding: 0;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(112, 112, 112, 0.199);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(7px);
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    
    .navbar .menu-boutons {
        display: block;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.6em;
    }

    .navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }
}